.welcome-window {
  background-color: var(--dark-color-1);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1rem;
  width: min(100vw - 2rem, 400px);
}

.welcome-window__title {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.welcome-window__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

.welcome-window__input {
  appearance: none;
  background-color: var(--dark-color-2);
  border: 1px solid var(--light-color-3);
  border-radius: 0.25rem;

  padding: 0.25rem 0.5rem;
}

.welcome-window__form-validation-error {
  color: var(--red-color);
  font-weight: 500;
}

.welcome-window__submit-button {
  appearance: none;
  background-color: var(--accent-color-2);
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.1s;

  align-self: flex-start;

  padding: 0.35rem 1.05rem;
}

.welcome-window__submit-button:active {
  background-color: var(--accent-color-3);
}