.room-window__messages-container {
  background-color: var(--dark-color-1);
  grid-area: messages;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
}

.room-window__message {
  background-color: var(--dark-color-2);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0.5rem 1rem;
  max-width: 70%;
  width: max-content;
}

.room-window__message--own {
  background-color: var(--accent-color-2);

  align-self: flex-end;
}

.room-window__message-username {
  text-decoration: underline;
}

.room-window__message-date {
  color: var(--light-color-3);
  font-size: 0.9rem;
  font-style: italic;

  align-self: flex-end;
}