.room-window {
  display: grid;
  grid-template-areas:
    "users header header"
    "users messages messages"
    "users send-message send-message";
  grid-template-columns: 30% 1fr;
  grid-template-rows: 4rem calc(100vh - 7rem) 3rem;

  height: 100%;
}

@media screen and (max-width: 767px) {
  .room-window {
    grid-template-columns: 0 1fr;
  }
}